/*! purgecss start ignore */
@import "@ditdot-dev/vue-flow-form/dist/vue-flow-form.css";

@tailwind base;
body {
  @apply font-body;
  color: var(--color-text-default);
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.1s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}

/*! purgecss end ignore */

@import "base/all";
@import "components/all";

@tailwind components;
@tailwind utilities;
