/*! purgecss start ignore */
:root {
  --color-bg-default: #FFFFFF;
  --color-bg-soft: #EDF2F7;
  --color-bg-softer: #E2E8F0;
  --color-bg-inline-code: #EDF2F7;

  --color-text-soft: #A0AEC0;
  --color-text-default: #34485c;
  --color-text-strong: #0E111A;
}

.theme-dark {
  --color-bg-default: #1A202C;
  --color-bg-soft: #4A5568;
  --color-bg-softer: #718096;
  --color-bg-inline-code: #4A5568;

  --color-text-soft: #CBD5E0;
  --color-text-default: #E2E8F0;
  --color-text-strong: #ffffff;
}

@import "vue-select/src/scss/vue-select.scss";

@tailwind base;

a,
button {
  cursor: pointer;
}
code,
kbd,
pre,
samp {
  @apply text-white;
}
h1,
h2 {
  @apply py-3 leading-tight;
}
body.default h1:before,
h2::before {
  @apply pr-2;
  content: "#";
}
h3 {
  @apply font-bold pr-2;
}
body {
  @apply font-body;
  color: var(--color-text-default);
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.1s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}

/*! purgecss end ignore */

@import "base/all";

@tailwind components;

@import "components/all";

@tailwind utilities;
